<launch>
    <!-- Open camera -->
    <include file="$(find realsense2_camera)/launch/rs_rgbd.launch"/>

    <!-- Open egohands_action -->
    <include file="$(find egohands_ros)/launch/egohands_action.launch"/>

    <!-- Open egohands_publisher -->
    <include file="$(find egohands_ros)/launch/egohands_publisher.launch"/>

    <!-- Open egohands_service -->
    <include file="$(find egohands_ros)/launch/egohands_service.launch"/>
</launch>